<app-navbar></app-navbar>

<app-container spyTarget="target-1">
  <div class="nav">
    Change Language : <select #selLang (change)="translateLanguageTo(selLang.value)">
      <option *ngFor="let language of translate.getLangs()" [value]="language">{{ language }}</option>
    </select>
    <h1>{{'TITLE' | translate}}</h1>
    <ul>
      <li>
        <b>{{'USER_INFO.NAME' | translate}}</b> : Heidi Miller
      </li>
      <li>
        <b>{{'USER_INFO.WORKING_PROFILE' | translate}}</b> : Proactive discrete moderator
      </li>
      <li>
        <b>{{'USER_INFO.ADDRESS_DETAILS' | translate}}</b> : 05516 Kristina Heights
      </li>
      <li>
        <b>{{'USER_INFO.PHONE_NUMBER' | translate}}</b> : 253.647.7397 x4073
      </li>
      <li>
        <b>{{'USER_INFO.EMAIL_ADDRESS' | translate}}</b> : Heidi_Miller33@yahoo.com
      </li>
      <li>
        <b>{{'USER_INFO.RELEVANT_EXPERIENCE' | translate}}</b> : 4.5 Years
      </li>
      <li>
        <b translate="USER_INFO.ADDRESS_DETAILS"></b> : 05516 Kristina Heights
      </li>
    </ul>
  </div>
</app-container>

<app-container spyTarget="target-2">
  <div class="nav">
    <h1>Hola, Mundo!!</h1>
  </div>
</app-container>

<app-container spyTarget="target-3">
  <div class="nav">
    <h1>Hello World!!</h1>
  </div>
</app-container>

<app-container spyTarget="target-4">
  <div class="nav">
    <h1>Hello World!!</h1>
  </div>
</app-container>